@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* This tells Tailwind to use the .dark class on the html/body tag */
  --variant-dark: .dark &;
}

html {
  @apply duration-300;
}

body {
  @apply bg-gray-200 dark:bg-gray-950 duration-300;
}

.modal-open {
  overflow: hidden;
}
