@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --variant-dark: .dark &;
  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));
  --color-secondary: hsl(var(--secondary));
}

:root {
  --primary: 37 94% 50%;
  --primary-hover: 37 94% 45%;
  --secondary: 47 100% 50%;
}

html {
  @apply duration-300;
}

body {
  @apply bg-gray-200 dark:bg-gray-950 duration-300;
}

.modal-open {
  overflow: hidden;
}
